.container {
    width: 80vw;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.titleHeader {
    width: 299px;
    height: 48px;
    left: 206px;
    top: 37px;

    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 48px;
    /* identical to box height, or 133% */

    /* Black */

    color: #000000;
}

.descHeader {
    width: 414px;
    height: 40px;
    left: 206px;
    top: 93px;

    /* Mobile / Сontrol Regular */

    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* or 125% */


    color: #000000;
}

.routeContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    position: absolute;
    width: 217px;
    height: 20px;
    right: 157px;
    top: 53px;

}